<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/PigGame.css" asp-append-version="true" />
    <title>Guess My Number!</title>
</head>

<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/PigGame.js" asp-append-version="true"></script>
</body>
</html>
